<footer>
    <nav class="footer-nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a class="search-btn" href="index.php"><img src="static/icons/search.png" alt="Search"></a>
            </li>
            <li class="nav-item">
                <a class="event-btn" href="my-events.php"><img src="static/icons/new_event.png" alt="Event"></a>
            </li>
            <li class="nav-item">
                <a class="last-btn" href="last-events.php"><img src="static/icons/last.png" alt="Last"></a>
            </li>
        </ul>
    </nav>
</footer>