<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}MeWe{% endblock %}</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/footer.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    {% block extra_head %}{% endblock %}
</head>
<body>
<div class="wrapper">
    <img id="logo-png" src="{{ url_for('static', filename='icons/logo.png') }}" alt="logo_png" />
    {% block content %}{% endblock %}
</div>
{% include "footer.html" %}
{% block scripts %}{% endblock %}
</body>
</html>