* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background: black;
    font-family: sans-serif;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.main {
    flex: 1;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#logo-png {
    display: block;
    margin: auto;
    width: 25vw;
    max-width: 90vw;
    height: auto;
    max-height: 60vh;
    min-width: 90px;
    min-height: 70px;
    object-fit: contain;
}

.btn {
    border: 0;
    border-radius: 5px;
    margin-top: 50px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: #000;
    background: rgb(212, 212, 212);
}

@media screen and (max-width: 400px) {
    .btn {
        width: 90%;
    }

    .test-form input {
        max-width: 90%;
    }
}